
/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;

}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    text-align: center;
    padding: 1rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.selectstyle{
    border-radius: 10px;
    width: 55%;
}




/* Sección de productos */
#productGrid {
    display: grid;
    gap: 1rem;
    padding-right: 100px;
    padding-left: 100px;
    
}

/* Tarjetas en pantallas grandes (4 columnas) */
@media (min-width: 768px) {
    #productGrid {
        grid-template-columns: repeat(4, 1fr);
    }
    
}

/* Tarjetas en pantallas pequeñas (1 columna) */
@media (max-width: 768px) {
    #productGrid {
        grid-template-columns: 1fr;
    }

    .selectstyle{
        width: 100%;
    }
}

/* Estilos de las tarjetas */
.card {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
}
.card img {
    width: 100px;
    height: auto;
}

footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    /* Se mantendrá al final de la página */
}
